.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

body {
  background-color: #243447;
}

.link {
  color: white;
  text-decoration: none;
  padding: 8px;
}
